body{background-image: url('images/smorals-bg.svg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.nunito-regular {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

.big-logo {
  transform: scale(1.5);
  /* width: 140%; */
  height: auto;
  margin: 0 auto;
  align-items: center;

  /* padding-top: 60px; */
  /* padding-bottom: 10px;  */
}

.icon-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 0px;
  justify-items: center;
  align-items: center;
  padding-bottom: 80px;
}

h2{
  text-align: center;
  color: #E0587C; 
  font-size: 25px; 
  font-family: Nunito; 
  font-weight: 400; 
  word-wrap: break-word;
  padding-bottom: 5px;
}

h3{
  text-align: center; 
  color: #9AB3FD; 
  font-size: 25px; 
  font-family: Nunito; 
  font-weight: 400; 
  word-wrap: break-word;
  padding-bottom: 40px;
}

.icon{
  fill:#9AB3FD
}
.icon:hover{
  fill:#E0587C;
  transform-origin: center;
} 



@media screen and (max-width: 768px) {
  .big-logo {
    transform: scale(1.1);
  }
  
}

